/* Arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tajawal'), local('Tajawal-Regular'), url(assets/fonts/Iura6YBj_oCad4k1nzSBC45I.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* Latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tajawal'), local('Tajawal-Regular'), url(assets/fonts/Iura6YBj_oCad4k1nzGBCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	font-family: 'Tajawal', sans-serif;
}

img{
	max-width: 100%;
}

.img-thum{
  margin-bottom: 1.5rem;
  position: relative;
}

.img-thum img{
  max-height: 300px;
  border:1px solid #343a40;
}

.img-thum .btn{
  position: absolute;
  right: 0;
  top: 15px;
}

.img-container{
  width: 400px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.img-container #draggable{
  width: auto;
  display: inline-block;
  top: 100px;
  text-align: center;
}

.dir-buttom{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 15px;
  position: absolute;
}

.slidecontainer input{
  width: 100%;
}
.canimg{

}
.canimg canvas{

}

@media (max-width: 922px){

  .img-thum img{
    max-height: initial;
  }
  .img-thum .btn{
    right: 30px;
    top: 15px;
  }

}

@media (max-width: 768px){

  .img-container{
    width: 100%;
  }

}





